
nav.menu {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  margin: 0 -20px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}


.seccion { display: none; padding: 20px 0; }
.seccion.active { display: block; }

.img-simpson {
  max-width: 120px;
  display: block;
  margin: 15px auto;
  border-radius: 8px;
}